$grayColor: #444444;
$lightGrayColor: #D6D5D5;
$whiteColor: #ffffff;
$blackColor: #000000;
$bg_color: blueviolet;
$mainColor: $grayColor;
$lgFontSize: 2.3rem;
$mediumFontSize:1.5rem;
$smallFontSize:1rem;
$xsFontSize:.8rem;
$xxsFontSize:.7rem;
$cardWidthLg: 380px;
$cardHeightLg: 300px;
$cardWidthSm: 300px;
$cardHeightSm: 300px;

.card{
    width: $cardWidthLg;
    // height: $cardHeightLg;
    overflow: hidden;
    position: relative;
    border-radius:0;
    border: none;
    margin-bottom:5vh;
    .card-img{
        overflow: hidden;
        // height: 100%;
        border-radius:0;
        .card-img-pic{
            width: 100%;
            position: relative;
            // top: -10%
        }
    }

    .card-name{
        padding: 2%;
        padding-top:3%;
        h2{
            font-size: $smallFontSize;
            font-weight: 300;
        }
    }

}