@import '../../../../components/Style/Style.scss';

#nav {
    z-index: 9999;
}
.mainNav{
  padding-top: 0;
  height:10vh;
  position: fixed;
  background-color:#fff;
  li{
      position:relative;
      top:60%;
      transform: translateY(-50%);
      height: 48px;
      a{
          color: $grayColor;
          font-size: $smallFontSize;
          margin: 1vw;
          margin-top:0;
      }
      a:hover{
          color: $blackColor;
          cursor: pointer;
      }
  }
  #workMobile{
      display: none !important;
      a{
          font-weight: 300;
          color: $grayColor;
          border-radius:0;
          margin: 1vw;
          margin-top:0;
      }
      .dropdown-menu{
          width:210px;
          // padding-top:3%;
          .dropdown-item{
              font-size: $xsFontSize;
              position:relative;
              top:70%;
              transform: translateY(-50%);
              font-weight: 300;
          }
      }
  }
  
  .nav-item-active{
      border-bottom: 2px solid $lightGrayColor;
  }
}