@import '../../components/Style/Style.scss';

.container {
    padding-right: 2vw;
    padding-left: 2vw;
    margin-right: 2vw;
    margin-left: 2vw;
}

#aboutBanner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h1{
        font-size: $lgFontSize;
        font-weight: 300;
        margin-bottom:2vh;
        // .contact{
        //     margin-top:4vh;
        //     font-size:$smallFontSize;
        // }
        .enVersion{
            padding-left: 1vh;
        }
    }
    .jpVersion, .enVersion, h2{
        font-size: $mediumFontSize;
    }

    h2{
        line-height:4vh;
    }
}

.aboutCV{
    .cvBox{
        margin-bottom: 3vh;
        h3{
            border-left:10px solid $grayColor;
            padding-left: 1.5vw;
            font-size: $smallFontSize;
            font-weight: 400;
        }
        p{
            padding-left: 1.5vw;
            padding-top: 1.5vh;
            font-size: $smallFontSize;
            line-height:35px;
        }
    }
}