$grayColor: #444444;
$lightGrayColor: #D6D5D5;
$whiteColor: #ffffff;
$blackColor: #000000;
$bg_color: blueviolet;
$mainColor: $grayColor;
$lgFontSize: 2.3rem;
$mediumFontSize:1.5rem;
$smallFontSize:1rem;
$xsFontSize:.8rem;
$xxsFontSize:.7rem;
$cardWidthLg: 380px;
$cardHeightLg: 300px;
$cardWidthSm: 300px;
$cardHeightSm: 300px;

#homeBanner{
    background-image: url('../../images/home_banner.jpg');
    background-repeat: no-repeat;
    background-position: center 5vh;
    overflow-x: hidden;
    background-size: cover;
    color: $whiteColor;
    height: 100vh;
    width: 100％;
    h1{
        position: relative;
        top:20%;
        left:10%;
        width:80%;
        font-weight: 300;
        font-size: $lgFontSize;
        color: $whiteColor;
        .jpVersion {
            color: $whiteColor;
            font-size: $mediumFontSize;
        }
        .enVersion{
            color: $whiteColor;
            padding-left: 30px;
            font-size: $mediumFontSize;
        }
    }
    h2{
        position: relative;
        top:32%;
        left:13%;
        line-height: 3vw;
        font-size: $mediumFontSize;
        color: $whiteColor;
        width:80%;
        span{
            color: $whiteColor;
        }
        .enVersion{
            position: relative;
            top: 1.5vh;
        }
        a{
            position: relative;
            font-size: $xsFontSize;
            top: 1.5vh;
            color: $whiteColor;
        }
    }
}